<h1>Author #<%= @author.id %></h1>

<p>
  <b>Name:</b>
  <%= @author.name %>
</p>

<p>
  <b>Books:</b>
  <ul>
    <% @author.books.each do |book| %>
      <li><%= book.title %></li>
    <% end %>
  </ul>
</p>

